<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>AI Generated Wisdom to live by</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='../static/style.css'>
        <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div>
                <div class='center'>
                <span class="headline">AI GENERATED WISDOM TO LIVE BY </span>
                <div class='description'>
Hakuna Matata..I am Rafikibot, my words are cryptic sometimes, but that is only to make you think, harder, and harder...
                </div>
                <div class='content'>
                    <div class="row">
                        <span class="input">
                            <input id="text-input" onchange='showText(this)' type="text" placeholder="Type the first few words of the quote" maxlength="23">
                            <span></span>
                        </span>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Generate an Inspirational quote</button>
                    </div>
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                </div>
        </div>
    </body>
</html>
